:root {
    --gray-color: #F9F9F9;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('/assets/font-face/MYRIADPRO-REGULAR.woff') format('woff');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Myriad Pro Regular', sans-serif;
}

body {
    overflow-x: hidden;
    position: relative;
}

header {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 1.6rem;
    height: 15rem;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.section-page {
    min-height: 100vh;
    margin: 0 auto;
    padding: 5rem 28.5rem;
}

.section-full-green {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #8ECB53;
    margin-top: 4.5rem;
}

.section-full {
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 1rem;
    position: relative;
}

h5 {
    font-size: 2.5rem;
    color: #00374F;
    font-weight: 600;
    padding-top: 1.8rem;
}

.home-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 4rem;
}

.home-tittle b {
    font-size: 5rem;
}

/* MENU */

select {
    color: #006999;
    font-size: 1.2rem;
    font-family: 'Myriad Pro Regular', sans-serif;
    border: none;
}

.lang {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 100%;

    padding: 1rem 0 1rem 157.3rem;
    border-bottom: .1rem solid rgba(112,112,112, .37);
}

.menu-content {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 2rem 0 2.3rem 27.7rem;
}

.menu-content ul {
    list-style: none;
    display: flex;
}

.menu-content ul a {
    color: #4C4C4C;
    display: block;
    padding: 2rem;
    position: relative;
}

.menu-content nav a:hover {
    cursor: pointer;
}

.menu-content nav a::after {
    content: '';
    position: absolute;
    bottom: 1.3rem;
    left: 10%;
    width: 0;
    height: 0.1rem;
    background-color: #c6b92c;
    transition: all 300ms ease-in-out;
}

.menu-content nav a:hover::after {
    width: 80%;
    height: 3%;
}


.logo img {
    width: 26rem;
    height: 6.4rem;
    margin-right: 3rem;
}

.logo img:hover {
    cursor: pointer;
}

.expert-contact {
    padding: 1.5rem 2.8rem;
    background-image: linear-gradient(to right, #508F59, #8ECB53);
    border-radius: 2.3rem;

}

.expert-contact-content a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.6rem;
}

.expert-contact-content a svg {
    margin-right: .5rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 1.5rem;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    background-color: rgba(112,112,112, .2);
}

.search:hover {
    cursor: pointer;
}

/* HOME */

.section-home {
    min-height: 100vh;
    margin: 0 auto;
}

.home-picture{
width: 100%;
position: relative;
z-index: 1;
top: 14.2rem;
height: 41.2rem;
background-image: url('../img/home.png');
background-position: top center;
background-repeat: no-repeat;
background-size: cover;
}

.circle {
    position: absolute;
    right: 0;
    top: 40rem;
    width: 32.3rem;
    height: 32.3rem;
    z-index: 2;
}

.home-text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 25rem;
    color: #00374E;
    font-size: 3.3rem;
    font-weight: 600;
}

.home-text-content b {
    color: #36B6C7;
}

.home-text-content .line {
    margin-top: 3.5rem;
    width: 10rem;
    height: .7rem;
    background-image: linear-gradient(to right,  #36B6C7 ,#6DC7D4);
    border-radius: 1.6rem;
}

/* POSTS */

.posts-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.picture-post {
    width: 81.5rem;
    height: 62.1rem;
    display: flex;
    position: relative;
    top: -3.3rem;
    right: -1.8rem;
}

.picture-post img {
    width: 100%;
    height: 100%;
}

.main-post {
    background-color: #F9F9F9;
    width: 83.5rem;
}

.main-post-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1rem 7.2rem 10rem 4.2rem;
}

.posts-content h4 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5rem 1rem;

    color: #FFFFFF;
    background-image: linear-gradient(to right,  #E46B88 ,#F390A8);
    border-radius: 1.6rem;
    width: 12rem;
}

h4.exp {
    width: 22rem; 
}

.posts-content p.data {
    color: #E46B88;
    font-size: 1.6rem;
    padding: 1rem 0;
}

.main-post-content h2 {
    font-size: 4rem;
    color: #00374F;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.other-posts-content {
    padding-bottom: 3.5rem;
}

.other-posts-content:hover {
    cursor: pointer;
}

.main-post-content p {
    font-size: 1.49rem;
    color: #737373;
    line-height: 2.5rem;
    text-align: justify;
}

.other-posts h3 {
    color: #F390A8;
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

hr {
    margin-bottom: 1rem;
    height: .1rem;
    background-color: #737373;
    opacity: 20%;
}

.information {
 font-size: 1.5rem;
 color: #737373;
 font-weight: lighter;
 text-align: justify;
 line-height: 1.6rem;
 height: 0;
 opacity: 0;
}

.active {
    opacity: 1;
    height: auto;
}

.more {
    padding-top: 5rem;
}

.more button {
    background: transparent;
    font-size: 1.6rem;
    padding: 2rem 1rem;
    width: 20.8rem;
    height: 4.8rem;
    border-radius: 2.3rem;
    border: .1rem solid #E46B88;
    color: #E46B88;
    cursor: pointer;

    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.cover {
    background-image: linear-gradient(to right,  #E46B88 ,#F390A8);
    height: 100%;
    width: 0%;
    border-radius: 2.3rem;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
  }
  
button:hover {
    border: none;
  }

.more button:hover {
    color: #FFFFFF;
}

.dettail-right {
    position: absolute;
    width: 36.4rem;
    height: 4.5rem;
    right: -5rem;
}

.dettail-right img, .dettail-left img{
    width: 100%;
    height: 100%;
}

.dettail-left {
    position: absolute;
    width: 87rem;
    height: 87rem;
    left: -54rem;
    top: 164.5rem;
}

/* NEWS */

.news-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1.5fr;
    gap: 15rem;
}

.tittle {
    font-size: 3rem;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 0 10rem 4.2rem;
}

.tittle .line {
    background-color: #FFFFFF;
    width: 9.4rem;
    height: .7rem;
    border-radius: 1.6rem;
    margin-top: 1.5rem;
}

.news-content hr {
    height: 0;
    opacity: 1;
    border: .1rem solid #FFFFFF;
    border-radius: .5rem;
}

.other-news {
    padding-left: 2rem;
}

.other-news .data {
    color: #FFFFFF;
    font-size: 1.8rem;
    padding: .5rem 0;
}

.other-news h4 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5rem 1rem;

    color: #FFFFFF;
    background-image: linear-gradient(to right,  #37B7C8 ,#6DC7D4);
    border-radius: 1.6rem;
    width: 12rem;
}

.other-news h4.exp {
    width: 22rem;
}

.other-news h5 {
    color: #FFFFFF;
    padding-right: 10rem;
}

.other-news .more {
    justify-content: left;
    padding-bottom: 8rem;
}

.other-news button p {
    z-index: 2;
}

.other-news button {
    border: .1rem solid #FFFFFF;
    color: #FFFFFF;
}

.other-news button:hover {
    border: none;
}

.other-news button:hover span {
    width: 100%;
  }

.other-news .cover {
    background-image: linear-gradient(to right,  #37B7C8 ,#6DC7D4);
    z-index: 1;
}

/*FEED CARROUSEL - NEWS */

.main-news {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75.2rem;
    height: 60rem;
    background-color: var(--gray-color);
    border-radius: 12% 0 0 0; 
    
    overflow: hidden;
    position: relative;
}

.carrousel-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-image {
    width: 600%;
    height: 25rem;

    display: flex;
    padding: 3rem 0 0 2rem;
}

.radios input {
    display: none;
}

.new-img {
    width: 17%;
    position: relative;
    transition: .6s;
}

.select-box-navigation {
    height: auto;
    position: absolute;
    top: 26rem;

    display: flex;
    justify-content: left;
    gap: 1rem;
    padding-left: 5rem;
}

.select-navigation-btn {
    background-color: #F390A8;
    padding: .3rem;
    border-radius: 1rem;
    cursor: pointer;
}

.select-navigation-btn:hover {
    background-color: #E46B88;
    transition: all 300ms ease-in-out;
}

#radio1:checked ~ .s1 {
    margin-left: 0%;
}


.carrousel-container .main-post-content {
    padding: 6.5rem 1rem 6.4rem 6.4rem;
    position: relative;
}

.main-post-content h2 {
    font-size: 3.5rem;
}

.main-post-content p {
    font-size: 1.6rem;
    padding-right: 1rem;
}

.tittle-preview-new h4 {

    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5rem 1rem;

    color: #FFFFFF;
    background-image: linear-gradient(to right,  #E46B88 ,#F390A8);
    border-radius: 1.6rem;
    width: 12rem;
}

.tittle-preview-new {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tittle-preview-new .data{
    color: #00374F;
}

.dettail-left-two {
    position: relative;
    margin-top: -7rem;
}

/* CASES */

#cases .tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cases h2 {
    color: #00374E;
}

#cases .tittle .line {
    background-color: #36B6C7;
    width: 6.4rem;
}

#cases .main-post-content {
    padding: 0;
    font-size: 1.6rem;
    color: #737373;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3rem;
    height: 33.2rem;
    background-color: #F8F8F8;
    border-radius: 12% 0 0 0;
}

.image img {
    object-fit: cover;
}

#cases .main-post-content h3 {
    color: #00374E;
    font-size: 2.4rem;
    padding: 1.5rem 0;
}

.case-btn button {
    width: 11.8rem;
    height: 3.6rem;
}

.case-btn button{
    background-image: linear-gradient(to right,  #E46B88 ,#F390A8);
    color: #FFFFFF;
    position: relative;
}

.case-btn .cover {
    background-image: linear-gradient(to right,  #000000 ,#818181);
    z-index: 1;
}

.case-btn button:hover {
    border: none;
}

.case-btn button p {
    padding: 0;
    font-size: 1.3rem;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
    z-index: 2;
}

.btn-m {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}

/* SLIDE CASES */

.slide-cases-container {
    padding: 0 10vw;
    display: flex;
    text-align: left;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;

    height: 68.4rem;
}

.slide {
    flex: 0 0 auto;
    width: 33.4rem;
    margin-right: 17rem;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 4;
}

.pre-btn {
    left: 0;
}

.nxt-btn {
    right: 0;
}

.pre-btn:hover svg,
.nxt-btn:hover svg {
    opacity: 1;
}

.slide-cases-container:-webkit-scrollbar {
    display: none;
  }